.container-blogs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		flex-direction: row;
	}

	.content-blogs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;

		.blog-image {
			height: 144px;
			width: 256px;
			border: 4px solid transparent;
			border-radius: 10px;

			@media screen and (min-width: 768px) {
				height: 160px;
				width: 320px;
			}

			@media screen and (min-width: 1200px) {
				height: 256px;
				width: 512px;
			}
		}

		.blog-description {
			display: flex;
			flex-direction: column;

			h3 {
				font-size: 2.0rem;
				text-align: center;
				padding: 0px 20px;

				@media screen and (max-width: 320px) {
					font-size: 1.4rem;
					padding: 0px 20px;
				}

				@media screen and (min-width: 768px) {
					padding: 0px 0px;
				}
			}

			p {
				width: 90%;
				margin-bottom: 20px;
				justify-self: center;
				align-self: center;
				text-indent: 24px;
				text-align: left;
				padding: 0px 5px;
				@media screen and (min-width: 768px) {
					width: 60%;
					font-size: 0.8rem;
				}
				@media screen and (min-width: 1200px) {
					font-size: 1rem;
				}
			}

			.button-visit {
				justify-self: center;
				align-self: center;
				background-color: white;
				border: none;
				border: 2px solid white;
				border-radius: 10px;
				width: 120px;
				height: 40px;
				cursor: pointer;
				margin-bottom: 50px;
			}
		}


	}
}