.container-blogs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.content-blogs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;

		.blog-image {
			height: 300px;
			width: 300px;
			border: 4px solid transparent;
			border-radius: 10px;
		}

		.blog-description {
			display: flex;
			flex-direction: column;

			h4 {
				font-size: 2.0rem;
				text-align: center;

				@media screen and (max-width: 320px) {
					font-size: 1.4rem;
				}
			}

			p {
				margin-bottom: 20px;
			}

			.button-visit {
				justify-self: center;
				align-self: center;
				background-color: white;
				border: none;
				border: 2px solid white;
				border-radius: 10px;
				width: 120px;
				height: 40px;
				cursor: pointer;
				margin-bottom: 50px;
			}
		}


	}
}