.IconButton {
	background-color: transparent;
	border: none;
	cursor: pointer;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.DropdownMenuContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: $black-900;
	width: 100vw;
	height: 100vh;
}

.DropdownMenuItem {
	color: white;
	text-decoration: none;
	font-size: 2.4rem;
}

.DropdownMenuItemTagA {
	color: white;
	text-decoration: none;
}

.iconX {
	position: absolute;
	top: 2rem;
	right: 4rem;
	cursor: pointer;
}

.DropdownMenuContent > span {
	cursor: pointer;
}